/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos para el body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

/* Sección Hero */
.hero {
    background-image: url('https://via.placeholder.com/1600x900'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: relative;
    color: white;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); /* Sombra oscura sobre el fondo */
}

.hero-content {
    z-index: 1;
    max-width: 700px;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.2;
    text-transform: uppercase;
}

.hero p {
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 300;
}

/* Estilo para los botones */
.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 35px;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.btn:hover {
    background-color: #45a049;
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.btn-register {
    background-color: #007bff;
}

.btn-register:hover {
    background-color: #0056b3;
}

/* Pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
}

/* Media queries para hacer el diseño responsivo */
@media screen and (max-width: 768px) {
    .hero h1 {
        font-size: 36px;
    }

    .hero p {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .buttons {
        flex-direction: column;
        gap: 20px;
    }
}


